*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  background-color: black;
  height: 100%;
  width: 100%;
}
.parent{
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;
  
}
.maincard{
   background-color: #fff;
   height: 300px;
    width: 250px;
    border-radius: 24px;
    padding: 10px;
  }
.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
   object-fit: cover;
  border: 1px solid #d1d1d1;
}
.top h4{
  font-weight: 500;
  padding: 3px 8px ;
  font-size: 13px;
  border-radius: 5px;  
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.top{
  /* background-color:; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.center{
  /* background-color: rgb(177, 172, 172); */
  margin: 10px;
  margin-top: 30px;
  display:
}
.center h2{
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 550;
}
.company{
  margin-bottom:5px ;
  display: flex;
  align-items: baseline;
}
.center h3 {
  font-size: 15px;
  font-weight: 500;

}
.company h4 {
  font-size: 8px;
  font-weight: 500;
  padding: 0px 2px;
  color: #b8b6b6;
}
.tags{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 60px;
}
.tag1{
  background-color: #e0e0e0;
  text-align: center;
  padding: 5px 3px;
  border-radius: 12px;
  width: 40%;
  margin-top: 5px;
  font-size: 11px;
}
.tag2{
  background-color: #e0e0e0;
  text-align: center;
  padding: 5px 3px;
  border-radius: 12px;
  width: 40%;
  margin-top: 5px;
  font-size: 11px;

}

.bottom{
  /* background-color: blue; */
  display: flex;
  justify-content: space-between ;
  border-top: 1px solid #d1d1d1 ;
  align-items: center;
  padding: 8px 0;
  margin: 10px;
}
.rightb h4{
    font-weight: 500;
}
.rightb h5{
  font-weight: 500;
  font-size: 10px;
}
.bottom button{
  background-color: black;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}