*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  background-color: black;
  height: 100%;
  width: 100%;
}
.mastercard{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 24px;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: #222;
}
.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
  border: 2px solid white;
}
.card h3{
  margin: 3px 0px 0px 0px;
}
.card p{
  margin: 15px 0px;
}
.card button{
padding: 10px 20px;
border-radius: 16px;

}